opencv-python
mediapipe
numpy
moviepy==1.0.3  # Crucial: Pin to 1.x version for 'moviepy.editor'
ffpyplayer
yt-dlp
pillow
imageio
imageio_ffmpeg
decorator
proglog
python-dotenv
tqdm
colorama